.about-us {
    margin-bottom: 18.4rem;
    position: relative;
 

    &__left-img {
            width: 80rem;
            height: 65rem;
            object-fit: cover;
            position: absolute;
            
            left: 0;
            top: 0;

            @media (max-width: 48em) {
                width: 75rem;
                height: 61rem;
                top: 0;
              }
    }

    &__wrap {
        display: flex;
        justify-content: flex-end;

        height: 65rem;

        @media (max-width: 48em) {
            margin-top: 60rem;
            height: 100%;
        }
    }

    &__content {
        width: 74.5rem;
        padding-top: 2rem;

        position: relative;

        &::before {
            content: "";
            width: 6.1rem;
            height: 4.6rem;

            background-image: url(./../images/quotes.svg);
            background-repeat: no-repeat;
            background-size: contain;

            position: absolute;
            top: 3rem;
            left: -16%;
        }
    }

    &__heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        width: 59.6rem;
        margin-bottom: 5rem;

        @media (max-width: 48em) {
            font-size: 6rem;
        }
    }

    &__text-block {
        width: 64rem;
        padding-right: 1rem;
        margin-bottom: 6.5rem;
    }

    &__par {
        font-size: 1.8rem;
        font-weight: 400;

        &:not(:last-child) {
            margin-bottom: 2.7rem;
        }

        &:nth-child(2) {
            margin-bottom: 3.5rem;
        }
        
        &:last-child {
            width: 49.9rem;
            padding-bottom: 2rem;
            padding-right: 1rem;
        }

        @media (max-width: 48em) {
            font-size: 3rem;
            width: 65rem;

            &:last-child {
                width: 50.4rem;
                padding-bottom: 2rem;
                padding-right: 1rem;
            }
        }
    }

   
    &__link {
        margin-left: 1rem;
        position: relative;
        
            &::before {
                background: url(./../images/arrow-download.svg), #CA342E;
                background-repeat: no-repeat;
                background-size: 2rem;
                background-position: center;

                position: absolute;
            }

            @media (max-width: 48em) {
                margin-left: 0;

                &::before {
                    background-size: 4rem;
                }
            }
    }

    &__photo-block {
        width: 40.5rem;
        
        position: absolute;
        right: 0;
        bottom: 0;

        @media (max-width: 48em) {
           display: none;
         }
    }

    &__photo-block-top {
        display: flex;
        width: 40.5rem;

        background-color: #ffffff;
    }

    &__img-top {
        width: 20rem;
        height: 20rem;

        object-fit: cover;
    }

    &__photo-block-down {
        display: flex;
        justify-content: flex-end;
        width: 40.5rem;
    }

    &__img-down {
        width: 20rem;
        height: 10.6rem;

        object-fit: cover;

    }
}