.about-store {
    background-color: #ffffff;

    padding-bottom: 4.4rem;
    margin-bottom: 17.8rem;


    &__inner {
        position: relative;
        padding-top: 3.2rem;
    }


    // LEFT-BLOCK

    &__top {
        display: flex;

        margin-bottom: 3.8rem;

        @media (max-width: 48em) {
            flex-direction: column-reverse;
         }
    }

    &__left-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 66.5rem;
    }


    &__title {
        font-size: 4.1rem;
        font-weight: 600;
        line-height: 5rem;

        margin-bottom: 1.4rem;

        @media (max-width: 48em) {
            font-size: 5rem;
            line-height: 6rem;
            margin-bottom:5rem;
        }
    }

    &__subtitle {
        font-size: 1.9rem;
        font-weight: 300;
        line-height: 1.4;

        width: 49.7rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            margin-bottom: 5rem;

            width: 55rem;
        }
    }




    // SLIDER

    &__right-block {
        display: flex;

        width: 90rem;

        background-color: #F4F4F4;

        position: absolute;
        top: 0;
        right: 0;
        transform: translate(17%, 0px);

        @media (max-width: 48em) {
            position: static;
            transform: translate(0, 0px);
        }
    }


    &__presentation {
        width: 25.5rem;
        height: 23.5rem;

        margin-right: 3.4rem;

        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: inherit;
            background: rgba(21, 27, 35, 0.43);

            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__presentation-link {

        &::before {
            content: "";
            width: 4.8rem;
            height: 4.8rem;
            background: url(./../images/arrow-white.svg), rgba(25, 28, 32, 0.2);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.5rem;

            border-radius: 50%;
            border: 0.15rem solid #ffffff;
            outline: 0.8rem solid rgba(25, 28, 32, 0.2);

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -4.2rem);
            z-index: 2;
        }

        &::after {
            content: "Презентация";
            color: #ffffff;
            font-size: 2.0rem;
            position: absolute;
            bottom: 29%;
            left: 50%;
            transform: translate(-50%);
            z-index: 2;
        }

    }

    &__slider-box {
        display: flex;

        @media (max-width: 48em) {
            flex-direction: column;
        }
    }

    &__presentation-img {
        width: 25.5rem;
        height: 23.5rem;
    }

    &__slider-content {
        display: flex;
        flex-direction: column;

        padding: 4.5rem 3.8rem 2rem 0;
    }

    &__slider-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;

        margin-bottom: 3rem;
    }


    &__slider-title {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 2.2rem;
    }

    &__arrow-next {
        &.swiper-button-next {
            right: 25%;
            top: auto;
            bottom: 0;
            transform: translate(0px, 25%);
            width: 4rem;
            height: 4rem;
            fill: #CA342E;

            &.swiper-button-disabled {
                fill: black;
            }

            &::after {
                content: '';
            }
        }
    }

    &__arrow-prev {
        &.swiper-button-prev {
            right: 35%;
            bottom: 0;
            top:auto;
            left: auto;
            transform: translate(0px, 25%);
            width: 4rem;
            height: 4rem;
            fill: #CA342E;

            &.swiper-button-disabled {
                fill: black;
            }

            &::after {
                content: '';
            }
        }
    }


    &__pagination {
        font-size: 0;
        top: 50%;
        left: auto;
        right: 0;
        transform: translate(0, -50%);
        width: 5rem;
        height: 2rem;
    } 

    &__pagination .swiper-pagination-current {
        font-size: 1.6rem;
        color: #CCCCCC;
    }

    &__slider-subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;

        width: 41.9rem;
    }


    &__progressbar {
        position: relative;
        background: #cccccc;
        margin-bottom: 3rem;
        height: 1px;

    }

    &__progressbar .swiper-pagination-progressbar {
        background: #cccccc;
    }

    &__progressbar .swiper-pagination-progressbar-fill {
            width: 100%;
            background: #BFBEBE;
        }



// ABOUT-STORY__DOWN 

    &__down {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 48em) {
            flex-direction: column;
           align-items: flex-start;
         }
    }

    &__advantage-wrap {
        display: flex;

        border-top: 0.15rem solid #CCCCCC;
        padding-top: 4rem;

        @media (max-width: 48em) {
           border-top: none;
           flex-direction: column;
           align-items: flex-start;

           margin-bottom: 9.4rem;
        }
    }

    &__advantage-content {
        display: flex;

        &:nth-child(1) {
            margin-right: 13.6rem;
        }

        &:nth-child(2) {
            margin-right: 9rem;
        }

        @media (max-width: 48em) {
            

            &:not(:last-child) {
                margin-bottom: 4rem;
            }
         }
    }

    &__advantage-icon {
        width: 3rem;
        height: 3rem;

        margin-right: 1.7rem;

        
        @media (max-width: 48em) {
            width: 6rem;
            height: 6rem;
            margin-right: 3rem;
         }
    }

    &__advantage-item {
        width: 21.5rem;

        display: flex;
        flex-direction: column;

         
        @media (max-width: 48em) {
            width: 44rem;
          }
    }

    &__advantage-title {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;

        
        @media (max-width: 48em) {
           font-size: 3rem;
         }
    }


    &__advantage-item-span {
        font-size: 2.5rem;
        font-weight: 600;

        margin-top: 0.5rem;

        @media (max-width: 48em) {
            font-size: 4rem;
         }
    }

    &__application {
        display: flex;
        align-items: center;
    }

    &__application-link {
        margin-right: 0.5rem;
    }

}