.accepted {
    position: fixed;
    z-index: 999999;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.4);
    top: 0;
    left: 0;

    display: none;
    overflow-y: auto;

    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3rem;
        padding-top: 6rem;

    }

    &__content {
        width: 104rem;
        height: 46.9rem;

        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        @media (max-width: 48em) {
            height: 54rem;
        }

    }

    &__close {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);

        @media (max-width: 48em) {
            right: 50%;
        }
    }

    &__close-img {
        width: 2.2rem;
        height: 2.2rem;
    }

    &__logo {
        width: 7.9rem;
        height: 7.56rem;

        margin-bottom: 5.64rem;

        @media (max-width: 48em) {
            width: 15.8rem;
            height: 15.2rem;
        }
    }

    &__logo-img {
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;

        margin-bottom: 2rem;

        @media (max-width: 48em) {
            font-size: 4rem;
        }

    }

    &__subtitle {
        font-size: 2.5rem;
        font-weight: 400;

        @media (max-width: 48em) {
            font-size: 3rem;
        }
    }
}