.assortment {
    position: relative;

    margin-bottom: 17.9rem;

    overflow-x: hidden;

    @media (max-width: 48em) {
        margin-bottom: 25rem;
    }

    &__inner {
        display: flex;

        position: relative;

        @media (max-width: 48em) {
            flex-direction: column;
        }
    }

    &__left-block {
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
        color: #777777;

        margin-bottom: 1.5rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            margin-bottom: 6rem;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        width: 53.6rem;

        margin-bottom: 4.3rem;

        @media (max-width: 48em) {
            font-size: 6rem;
            margin-bottom: 9.4rem;
        }
    }

    &__left-block-link-mob {
        display: none;

        @media (max-width: 48em) {
            display: block;
            margin-bottom: 9.4rem;
        }
    }

    &__par {
        font-size: 1.95rem;
        font-weight: 300;
        line-height: 1.4;

        width: 69.9rem;

        margin-bottom: 3.8rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            margin-bottom: 4rem;
            width: 65rem;
        }
    }

    &__photo-wrapper {
        display: flex;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__img-big {
        width: 50.2rem;
        height: 43.4em;
    }

    &__img-block {
        width: 43rem;
        height: 43rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__img-block-top {
        display: flex;
        flex-direction: row-reverse;
    }

    &__img-mini-top {
        width: 21.5rem;
        height: 21.6rem;
    }

    &__img-block-down {
        display: flex;
    }

    &__img-mini-down {
        width: 21.5rem;
        height: 22rem;
    }

    &__left-block-down {
        display: flex;

    }

    &__left-down-text {
        width: 50.2rem;
        padding-top: 4.0rem;

        @media (max-width: 48em) {
            padding-top: 0;
            width: 65rem;
        }
    }

    &__left-down-par {
        font-size: 1.95rem;
        font-weight: 300;
        line-height: 1.4;

        width: 45.2rem;

        margin-bottom: 7.9rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            margin-bottom: 4rem;
            width: 65rem;
            margin-bottom: 0;
        }
    }

    &__left-block-link-mob {
        display: none;

        @media (max-width: 48em) {
            display: block;
        }
    }


    &__left-block-link {
        margin-left: 1rem;


        @media (max-width: 48em) {
            display: none;
        }
    }

    &__left-down-img-wrap {
        width: 43rem;

        display: flex;
        flex-direction: row-reverse;

        background-color: #ECECEC;


        @media (max-width: 48em) {
            display: none;
        }
    }

    &__left-down-img {
        width: 21.5rem;
        height: 21.6rem;
    }


    &__right-block {
        padding-top: 8.9rem;

        @media (max-width: 48em) {
            width: 65rem;
            height: 57.4rem;
            padding-top: 0;
        }
    }


    &__slider {
        height: 50.5rem;
        width: 56.8rem;
        position: relative;

        @media (max-width: 48em) {
            margin-left: 0;
            margin-right: 0;
            width: 65rem;
            height: 57.4rem;
        }
    }

    &__slider-wrapper {
        height: 43.4rem;
        width: 56.8rem;

        @media (max-width: 48em) {
            width: 65rem;
            height: 57.4rem;
        }
    }

    &__arrow-next {
        &.swiper-button-next {
            right: 0;
            top: auto;
            bottom: 0;
            width: 7.1rem;
            height: 7.1rem;
            background-color: #ffffff;
            fill: #CA342E;

            &.swiper-button-disabled {
                background-color: #ECECEC;
                fill: black;
                opacity: 1;
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                transform: translate(0, -50%);
            }
        }
    }

    &__arrow-prev {
        &.swiper-button-prev {
            left: auto;
            top: auto;
            bottom: 0;
            right: 7.1rem;
            width: 7.1rem;
            height: 7.1rem;
            fill: #CA342E;
            background-color: #ffffff;

            &.swiper-button-disabled {
                background-color: #ECECEC;
                fill: black;
                opacity: 1;
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                transform: translate(0, -50%);
            }
        }
    }


    &__slider-img {
        width: 56.8rem;
        height: 100%;
        object-fit: cover;

        position: relative;
        z-index: 1;

        @media (max-width: 48em) {
            height: 57.4rem;
            width: 100%;
            object-fit: contain;
        }
    }

    &__right-block-img-wrap {
        width: 77.8rem;
        height: 43.2rem;

        position: absolute;
        bottom: 0;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__right-block-img-top {
        display: flex;
    }

    &__right-block-img {
        width: 21.5rem;
        height: 21.6rem;
    }

    &__right-block-img-down {
        display: flex;
        width: 43.2rem;
        height: 21.6rem;
        background-color: #ECECEC;

        position: relative;
    }

    &__img-right {
        width: 56.3rem;
        height: 21.6rem;

        position: absolute;
        bottom: 0;
        right: 0;

        @media (max-width: 48em) {
            width: 65rem;
            height: 57.4rem;
        }
    }

    &__white-block {
        width: 20.9rem;
        height: 21.5rem;

        background-color: #ffffff;

        position: absolute;
        top: 9rem;
        right: 0;

        @media (max-width: 48em) {
            display: none;
        }
    }
}