.box {

    @media (max-width: 48em) {
        padding: 0 2rem;
    }

    &__img {
        width: 25rem;
        height: 25rem;

        @media (max-width: 48em) {
            width: 100%;
            height: 32.6rem;
        }
    }

    &__text {
        width: 25rem;
        padding: 3.0rem 3rem 3.5rem 3rem;

        background-color: #ffffff;

        position: relative;

        &::after {
            content: "";
            width: 5rem;
            height: 1.5rem;

            background-image: url(./../images/facts_img/line.svg);
            background-repeat: no-repeat;
            background-size: contain;

            position: absolute;
            bottom: 6%;


            @media (max-width: 48em) {
                width: 10.5rem;
                bottom: 11%;
            }
        }

        @media (max-width: 48em) {
            width: 100%;
            padding: 5.3rem 4rem 6rem 3rem;
        }
    }

    &__title {
        font-size: 4.0rem;
        font-weight: 600;

        margin-bottom: 1.8rem;

        @media (max-width: 48em) {
            font-size: 5.6rem;
            margin-bottom: 2.5rem;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;

        @media (max-width: 48em) {
            font-size: 3rem;
        }
    }
}