.btn {
        font-size: 1.6rem;
        font-weight: 600;

        padding-left: 8.5rem;

        position: relative;

        &::before {
            content: "";

            width: 4.8rem;
            height: 4.8rem;

            background: url(./../images/arrow-btn.svg), #CA342E;
            background-repeat: no-repeat;
            background-size: 2rem;
            background-position: center;
            border-radius: 50%;

            box-shadow: 0 0 0 0.8rem rgba(202, 52, 46, 0.2);

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        // &::after {
        //     content: "";

        //     width: 14rem;
        //     height: 14rem;
        //     border-radius: 50%;
        //     background-position: center;
        //     background-color: transparent;

        //     position: absolute;
        //     top: 50%;
        //     left: -7%;
        //     transform: translateY(-50%);
        // }

        @media (max-width: 48em) {
            font-size: 3.2rem;

            padding-left: 15rem;

            &::before {
                content: "";
    
                width: 9.6rem;
                height: 9.6rem;
                background-size: 3rem;
                box-shadow: 0 0 0 1.6rem rgba(202, 52, 46, 0.2);
            }
         }
} 