.bussines-model {
    
    // margin-bottom: 18.1rem;

    // @media (max-width: 48em) {
    //     margin-bottom: 20rem;
    //  }

    
    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        color: #777777;
        text-transform: uppercase;

        margin-bottom: 1.5rem;

        @media (max-width: 48em) {
           font-size: 3.6rem;
           padding-left: 2rem;
           margin-bottom: 5.5rem;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        width: 74.7rem;

        margin-bottom: 7rem;

        @media (max-width: 48em) {
            width: 100%;
            font-size: 6rem;
            padding-left: 2rem;
            margin-bottom: 5rem;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 18.1rem;

        @media (max-width: 48em) {
            margin-bottom: 20rem;
         }
    }

    &__box {
        width: 37.5rem;
        height: 36.8rem;

        position: relative;

        &:not(:last-child) {
            padding: 7.0rem 2.8rem 3.5rem 3.9rem;

            &::after {
                content: "";
                width: 14.362rem;
                height: 0.5rem;

                background-image: url(./../images/bussines-model-line.svg);
                background-repeat: no-repeat;
                background-position: center;

                position: absolute;
                bottom: 2.4rem;
                left: 3.9rem;

                @media (max-width: 48em) {
                    width: 25rem;
                    bottom: 6.4rem;
                    left: 5.9rem;
                }
            }

            @media (max-width: 48em) {
                width: 100%;
                height: 39.2rem;
                padding: 6.5rem 2.8rem 3.5rem 5.5rem;
            }
        }

        &:last-child {
            background-color: #CA342E;
            color: #ffffff;

            padding: 3.0rem 2.8rem 3.5rem 3.9rem;

            @media (max-width: 48em) {
                width: 65rem;
                height: 61.6rem;

                padding: 7rem 6.6rem 3.5rem 5.6rem;
            }
        }

        border-top: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;
        border-right: 1px solid #C4C4C4;

        &:first-child {
            border-left: 1px solid #C4C4C4;
        }

        @media (max-width: 48em) {
            margin: 0 2rem 4rem 2rem;
        }
    }

    &__box-title {
        font-size: 4rem;
        font-weight: 600;

        margin-bottom: 1.5rem;

        @media (max-width: 48em) {
           font-size: 6rem;
           margin-bottom: 5rem;
        }
    }

    &__box-subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        width: 19rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            width: 100%;
         }
    }

    &__box-subtitle.box--width {
        width: 30rem;

        @media (max-width: 48em) {
            width: 100%;
         }
    }

}


