.examples {

    margin-bottom: 18.3rem;

    @media (max-width: 48em) {
        margin-bottom: 26rem;
    }


    & .none {
        @media (max-width: 48em) {
            padding: 0;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        margin-bottom: 7.0rem;

        @media (max-width: 48em) {
            font-size: 6rem;
            padding-left: 4rem;
            padding-right: 1rem;
            margin-bottom: 5rem;
        }
    }

    &__slide {
        display: flex;
        justify-content: space-between;

        height: 50.5rem;
        position: relative;

        @media (max-width: 48em) {
            height: 123rem;
            flex-direction: column;
            justify-content: start;
        }
    }

    &__wrapper {
        height: 53rem;

        @media (max-width: 48em) {
            height: 150rem;
        }
    }

    &__slide {
        @media (max-width: 48em) {
            height: 100%;
        }
    }

    &__slide-left-block {
        width: 69rem;
        padding-right: 1.5rem;
    }

    &__slide-top-mob {
        display: none;

        @media (max-width: 48em) {
            display: flex;
            flex-wrap: wrap;
            padding-left: 3rem;
        }
    }

    &__slide-mob {
        @media (max-width: 48em) {
            width: 29rem;
            height: 14.2rem;
            padding-left: 2rem;

            &:nth-child(odd) {
                margin-right: 6rem;
            }

            &:nth-child(-n + 2) {
                margin-bottom: 7rem;
            }

            margin-bottom: 5rem;
        }
    }

    &__slide-mob-num {
        @media (max-width: 48em) {
            font-size: 4.8rem;
            font-weight: 500;
            line-height: 1.4;
            color: #CA342E;
            width: 30rem;
        }
    }

    &__slide-mob-sub {
        @media (max-width: 48em) {
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.4;
            width: 25rem;
        }
    }


    &__slide-title {
        font-size: 4.1rem;
        font-weight: 700;

        width: 42.3rem;
        margin-bottom: 3.3rem;

        @media (max-width: 48em) {
            padding-left: 5rem;
            padding-right: 1rem;
            letter-spacing: -0.25px;
            margin-bottom: 5.5rem;
            line-height: 1.1;
        }
    }

    &__pagination {
        position: static;
        font-size: 0;
        width: 10rem;
        margin-bottom: 4.5rem;

        display: flex;
        align-items: center;

        @media (max-width: 48em) {
            position: fixed;
            bottom: -1.5rem;
            left: 43%;
            margin-bottom: 0;
            width: 5rem;
        }
    }

    &__pagination .swiper-pagination-current {
        font-size: 3rem;
        margin-right: 1rem;

        @media (max-width: 48em) {
            font-size: 6rem;
        }
    }

    &__pagination .swiper-pagination-total {
        font-size: 1rem;

        @media (max-width: 48em) {
            font-size: 2.5rem;
        }
    }


    &__slide-list {
        list-style-type: circle;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__slide-item {
        font-size: 1.8rem;
        font-weight: 400;
        padding-left: 2rem;

        position: relative;

        &:before {
            content: "o";
            font-size: 1.4rem;
            font-weight: 600;

            position: absolute;
            top: 0;
            left: 0;
        }


        & span {
            font-weight: 600;
        }

        &:not(:last-child) {
            margin-bottom: 2.3rem;
        }
    }

    &__slide-right-block {
        width: 75rem;
        height: 61rem;

        padding-top: 0.7rem;

        @media (max-width: 48em) {
            height: 61rem;
        }
    }

    &__slide-img {

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__slide-img-mob {
        display: none;

        @media (max-width: 48em) {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 66rem;
        }
    }

    &__slide-down {
        display: flex;
        align-items: center;

        background-color: #304981;
        width: 87.5rem;
        height: 10rem;

        padding: 3rem 2rem 3.7rem 7.7rem;

        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(3rem);

        @media (max-width: 48em) {
            flex-direction: column;
            align-items: flex-start;
            width: 75rem;
            height: 22rem;
            padding: 5rem;
            bottom: 11.5rem;
        }
    }

    &__sity-place {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.71);

        @media (max-width: 48em) {
            font-size: 3rem;
        }

        & span {
            color: #ffffff;
            margin-left: 3rem;

            @media (max-width: 48em) {
                margin-left: 2.8rem;
            }
        }

        &:not(:last-child) {
            padding-right: 3.8rem;
            border-right: 1px solid rgba(187, 187, 187, 0.53);

            @media (max-width: 48em) {
                padding-right: 0rem;
                border-right: none;

                margin-bottom: 3.6rem;
            }
        }

        &:not(:first-child) {
            padding-left: 3.8rem;

            @media (max-width: 48em) {
                padding-left: 0;
            }
        }
    }

    &__arrow-svg {
        width: 2.4rem;

        @media (max-width: 48em) {
           width: 4.4rem;
        }
    }

    &__arrow-next {
        right: -19rem;
        top: auto;
        bottom: 0;
        width: 9.74rem;
        height: 9.83rem;
        background-color: #ffffff;
        fill: #CA342E;
        transition: 0.8s;


        &.swiper-button-disabled {
            background-color: #ECECEC;
            fill: black;
            opacity: 1;
            transition: 0.8s;

            @media (max-width: 48em) {
                background-color: transparent;
            }
        }

        &::after {
            content: '';
        }


        @media (max-width: 48em) {
            position: fixed;
            right: 15rem;
            bottom: -11.5rem;

            background-color: transparent;
        }
    }

    &__arrow-prev {
        left: auto;
        top: auto;
        bottom: 0;
        right: -9.74rem;
        width: 9.74rem;
        height: 9.83rem;
        fill: #CA342E;
        background-color: #ffffff;
        transition: 0.8s;

        &.swiper-button-disabled {
            background-color: #ECECEC;
            fill: black;
            opacity: 1;
            transition: 0.8s;

            @media (max-width: 48em) {
                background-color: transparent;
            }
        }

        &::after {
            content: '';
        }

        @media (max-width: 48em) {
            position: fixed;
            left: 15rem;
            bottom: -11.5rem;
            background-color: transparent;
        }
    }
}
