.examples {

    margin-bottom: 18.5rem;

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        margin-bottom: 7.0rem;
    }

    &__slide {
        display: flex;
        justify-content: space-between;

        height: 50.5rem;
        position: relative;

        @media (max-width: 48em) {
            height: 123rem;
            flex-direction: column;
            justify-content: start;
        }
    }

    &__wrapper {
        height: 53rem;

        @media (max-width: 48em) {
            height: 140rem;
        }
    }

    &__slide-left-block {
        width: 69rem;
        padding-right: 1.5rem;
    }

    &__slide-top-mob {
        display: none;

        @media (max-width: 48em) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__slide-mob {
        @media (max-width: 48em) {
            width: 30rem;
            height: 15.2rem;

            &:nth-child(odd) {
                margin-bottom: 3rem;
                margin-right: 3rem;
            }
        }
    }

    &__slide-mob-num {
        @media (max-width: 48em) {
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.4;
        color: #CA342E;
        }
    }

    &__slide-mob-sub {
        @media (max-width: 48em) {
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.4;
        }
    }


    &__slide-title {
        font-size: 4.1rem;
        font-weight: 700;

        width: 42.3rem;
        margin-bottom: 3.3rem;
    }

    &__pagination {
        position: static;
        font-size: 0;
        width: 10rem;
        margin-bottom: 4.5rem;

        display: flex;
        align-items: center;

        @media (max-width: 48em) {
            position: fixed;
            bottom: -12%;
            left: 50%;
            margin-bottom: 0;
            width: 5rem;
            transform: translate(-50%);
        }
    } 

    &__pagination .swiper-pagination-current {
        font-size: 3rem;
        margin-right: 1rem;
    }

    &__pagination .swiper-pagination-total {
        font-size: 1.2rem;
    }


    &__slide-list {
        list-style-type: circle;
 
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__slide-item {
        font-size: 1.8rem;
        font-weight: 400;
        padding-left: 2rem;
     
        position: relative;

        &:before {
            content: "o";
            font-size: 1.4rem;
            font-weight: 600;

            position: absolute;
            top: 0;
            left: 0;
        }


        & span {
            font-weight: 600;
            padding-left: 0.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 2.3rem;
        }
    }

    &__slide-right-block {
        width: 75rem;
        height: 61rem;

        padding-top: 0.7rem;

        @media (max-width: 48em) {
            width: 69rem;
            height: 61rem;
        }
    }

    &__slide-img {
        object-fit: cover;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__slide-img-mob {
        display: none;
        @media (max-width: 48em) {
            display: block;
            object-fit: cover;
            height: 100%;
        }
    }

    &__slide-down {
        display: flex;
        align-items: center;

        background-color: #304981;
        width: 87.5rem;
        height: 10rem;

        padding: 3.8rem 2rem 3.7rem 7.7rem;

        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(3rem); 

        @media (max-width: 48em) {
            flex-direction: column;
            align-items: flex-start;
            width: 75rem;
            height: 22rem;
            padding: 3rem;
            transform: translateY(50%); 
        }
    }

    &__sity-place {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.71);

        @media (max-width: 48em) {
            font-size: 3rem;
        }

        & span {
            color: #ffffff;
            margin-left: 3rem;

            @media (max-width: 48em) {
                margin-left: 2.8rem;
            }
        }

        &:not(:last-child) {
            padding-right: 3.8rem;
            border-right: 1px solid rgba(187, 187, 187, 0.53);

            @media (max-width: 48em) {
                padding-right: 0rem;
                border-right: none;

                margin-bottom: 3.6rem;
            }
        }

        &:not(:first-child) {
            padding-left: 3.8rem;

            @media (max-width: 48em) {
                padding-left: 0;
            }
        }
    }

    &__arrow-next {
            right: -19rem;
            top: auto;
            bottom: 0;
            width: 9.74rem;
            height: 9.83rem;
            background-color: #ffffff;
            fill: #CA342E;
            transition: 0.8s;


            &.swiper-button-disabled {
                background-color: #ECECEC;
                fill: black;
                opacity: 1;
                transition: 0.8s;

                @media (max-width: 48em) {
                    background-color: transparent;
            }  
            }

            &::after {
                content: '';
            }


        @media (max-width: 48em) {
            position: fixed;
            right: 35%;
            bottom: -35%;

            background-color: transparent;
        }
    }

    &__arrow-prev {
            left: auto;
            top: auto;
            bottom: 0;
            right: -9.74rem;
            width: 9.74rem;
            height: 9.83rem;
            fill: #CA342E;
            background-color: #ffffff;
            transition: 0.8s;

            &.swiper-button-disabled {
                background-color: #ECECEC;
                fill: black;
                opacity: 1;
                transition: 0.8s;

                @media (max-width: 48em) {
                    background-color: transparent;
            }  
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                position: fixed;
                left: 35%;
                bottom: -35%;
                background-color: transparent;
        }  
    }

    // &__arrow-prev-mob {
    //     display: none;

    //     @media (max-width: 48em) {
    //         display: block;

    //         &.swiper-button-prev {
    //             left: 40%;
    //             top: auto;
    //             bottom: 0;
    //             right: -9.74rem;
    //             width: 8rem;
    //             height: 8rem;
    //             fill: #CA342E;
    
    //             &.swiper-button-disabled {
    
    //                 fill: black;
    //                 opacity: 1;
    //             }
    
    //             &::after {
    //                 content: '';
    //             }
    //         }
    //     }
    // }

    // &__arrow-next-mob {
    //     display: none;

    //     @media (max-width: 48em) {
    //         display: block;

    //         &.swiper-button-next {
    //             right: 40%;
    //             top: auto;
    //             bottom: 0;
    //             width: 8rem;
    //             height: 8rem;
    //             fill: #CA342E;
    
    //             &.swiper-button-disabled {
    //                 fill: black;
    //                 opacity: 1;
    //             }
    
    //             &::after {
    //                 content: '';
    //             }
    //         }
    //     }
    // }


    // &__pagination-mob {
    //     display: none;
    //     @media (max-width: 48em) {
    //         display: block;

    //         font-size: 0;
    //     bottom: 2.5rem;
    //         left: 50%;
    //         transform: translate(-4rem, 0rem);
    //         width: 10rem;
    //     }

    // } 

    // &__pagination-mob .swiper-pagination-current {
    //     font-size: 4rem;
    //     margin-right: 1rem;
    // }

    // &__pagination-mob .swiper-pagination-total {
    //     font-size: 1.8rem;
    // }
}