.FAQ {

    margin-bottom: 18rem;


    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        margin-bottom: 3rem;

        text-align: center;

        @media (max-width: 48em) {
           font-size: 6rem;
           margin-bottom: 1.5rem;
        }

    }

    &__wrapper-spollers {
        width: 108.3rem;

        margin: 0 auto;

        @media (max-width: 48em) {
            width: 100%;
            padding-left: 2rem;
        }

    }

    &__spoller-item {
        width: 108.8rem;

        border-bottom: 1px solid #cccccc;

        @media (max-width: 48em) {
            width: 100%;
        }

    }

    &__spoller-title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.4;

        height: 9.9rem;

        display: flex;
        align-items: center;

        cursor: pointer;

        position: relative;

        &::after {
            content: "";
            background-image: url(./../images/plus.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 2.1rem;
            height: 4.9rem;

            position: absolute;
            right: 0;
            top: 20%;

            @media (max-width: 48em) {
                width: 2.2rem;
                height: 2.2rem;
                right: -1rem;
                top: 5.5rem;
                transform: translate(0, 0);
            }
        }

        @media (max-width: 48em) {
            font-size: 3.6rem;
            width: 64rem;
            height: 12.5rem;
        }
    }

    &__spoller-title {
        &.active {
            &::after {
                background-image: url(./../images/minus.svg);

                right: 0;
                bottom: 0;
                transform: translate(0, 16rem);

                @media (max-width: 48em) {
                    bottom: auto;
                    top: 5.5rem;
                    right: -0.8rem;
                    transform: translate(0, 0);
                }
            }
        }
    }

    &__spoller-text {
        font-size: 1.8rem;
        font-weight: 400;

        width: 86.5rem;
        height: 17.2rem;

        padding: 1.5rem 1.5rem 1.5rem 0;

        display: none;

        @media (max-width: 48em) {
            width: 100%;
            font-size: 3rem;
            line-height: 1.4;
            height: min-content;
            padding-bottom: 1.5rem;
        }
    }
}