.footer {
    height: 43rem;
    background-color: #ffffff;
    padding: 9.0rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        height: 16.5rem;

        @media (max-width: 48em) {
          flex-direction: column;
          }
    }

    &__left-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__list-left {
        display: flex;
    }

    &__item-left {
        &:not(:last-child) {
            margin-right: 4.5rem;
        }
    }

    &__link-left {
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__privacy-policy {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1;
        text-transform: uppercase;
    }


    &__logo {
        width: 9.4rem;
        height: 9rem;
    }

    &__logo-img {
        width: 100%;
        object-fit: cover;
    }

    &__right-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__nav-right {
        display: flex;
    }

    &__list-right {
        display: flex;
    }

    &__item-right {
        &:not(:last-child) {
            margin-right: 4.5rem;
        }
    }

    &__link-right {
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__social {
        display: flex;
    }

    &__social-item {
        font-size: 1.6em;
        font-weight: 400;
        line-height: 1.1;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}