.format {

    margin-bottom: 18rem;


    &__slide-content {
        display: flex;
    }

    &__img-wrap {
        position: relative;
    }


    &__img {
        width: 74.6rem;
        height: 74.9rem;

        margin-right: 21.5rem;
    }

    &__mini-wrap {
        display: flex;
        width: 51.6rem;

        position: absolute;
        bottom: 8.4rem;
        right: 9rem;

    }

    &__img-mini-wrap {
        width: 25.8rem;
        height: 18.8rem;

        position: relative;
    }

    &__arrow-prev {
        &.swiper-button-prev {
            left: 0;
            top: auto;
            bottom: 0;
            right: auto;
            width: 8rem;
            height: 8rem;
            background-color: #ECECEC;
            fill: #CA342E;

            &.swiper-button-disabled {

                fill: black;
                opacity: 1;
            }

            &::after {
                content: '';
            }
        }
    }

    &__img-mini {
        height: 18.8rem;
        object-fit: cover;
    }

    &__color-block {
        width: 25.8rem;
        background-color: #CA342E;

        display: flex;
        align-items: flex-end;

        padding: 3rem;
    }

    &__color-block-title {
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffffff;
    }

    &__right-block {
        padding-top: 11.2rem;
        padding-right: 1.5rem;
        width: 80rem;

        position: relative;
    }

    &__arrow-next {
        &.swiper-button-next {
            left: auto;
            right: 0;
            top: auto;
            bottom: 9rem;
            width: 8rem;
            height: 8rem;

            background-color: #CA342E;
            fill: #ffffff;

            &.swiper-button-disabled {
                
                fill: black;
                opacity: 1;
            }

            &::after {
                content: '';
            }
        }
    }


    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        color: #777777;
        line-height: 1.2;
        text-transform: uppercase;

        padding-left: 9rem;
        margin-bottom: 1.5rem;

        position: relative;

        &::before {
            content: "";
            width: 5.6rem;
            height: 1rem;

            background-image: url(./../images/format/line.svg);
            background-repeat: no-repeat;
            background-position: center;

            position: absolute;
            top: 25%;
            left: 0;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;

        width: 44.2rem;

        margin-bottom: 4.5rem;
    }

    &__text-wrap {
        margin-bottom: 7.5rem;
        padding-left: 9rem;
    }

    &__par {
        font-size: 1.8rem;
        font-weight: 400;

        width: 46.8rem;

        &:not(:last-child) {
            margin-bottom: 3.7rem;
        }
    }

    &__link {
        margin-left: 18rem;
    }
}