.format {

    margin-bottom: 18.4rem;

    @media (max-width: 48em) {
        margin-bottom: 23.5rem;
    }


    &__slide-content {
        display: flex;

        @media (max-width: 48em) {
            flex-direction: column-reverse;
        }
    }

    &__img-wrap {
        position: relative;

        @media (max-width: 48em) {
            width: 75rem;
        }
    }


    &__img {
        width: 74.6rem;
        height: 74.9rem;

        margin-right: 21.5rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__mini-wrap {
        display: flex;
        width: 51.6rem;

        position: absolute;
        bottom: 8rem;
        right: 9rem;

        @media (max-width: 48em) {
            position: static;
            width: 75rem;
            height: 90rem;
        }

    }

    &__img-mini-wrap {
        width: 25.8rem;
        height: 18.8rem;

        position: relative;
    }


    &__arrow-prev {
        &.swiper-button-prev {
            left: 0;
            top: auto;
            bottom: 0;
            right: auto;
            width: 10rem;
            height: 10rem;
            background-color: #ECECEC;
            fill: #CA342E;
            transition: 0.8s;


            &.swiper-button-disabled {
                fill: black;
                opacity: 1;
                transition: 0.8s;
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                position: fixed;
                left: 24%;
                bottom: 2rem;
                background-color: transparent;
                width: 4.4rem;
                height: 5rem;
            }
        }
    }

    &__img-mini-desc {
        height: 18.8rem;
        object-fit: cover;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__img-mini-mob {
        display: none;

        @media (max-width: 48em) {
            display: block;

            width: 75rem;
            height: 79rem;
        }
    }

    &__color-block {
        width: 25.8rem;
        background-color: #CA342E;

        display: flex;
        align-items: flex-end;

        padding: 3rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__color-block-title {
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffffff;
    }

    &__right-block {
        padding-top: 11.5rem;
        padding-right: 1.5rem;
        width: 75rem;

        position: relative;

        
        @media (max-width: 48em) {
            padding-top: 0;
        }
    }

    &__arrow-next {
        left: auto;
        right: 0;
        top: auto;
        bottom: 8rem;
        width: 10rem;
        height: 10rem;

        background-color: #CA342E;
        fill: #ffffff;
        transition: 0.8s;

        &.swiper-button-disabled {
            fill: black;
            opacity: 1;
            transition: 0.8s;
        }

        &::after {
            content: '';
        }

        @media (max-width: 48em) {
            position: fixed;
            bottom: 2rem;
            right: 24%;
            background-color: transparent;
            fill: #CA342E;
            width: 4.4rem;
            height: 5rem;
            transition: 0.8s;
        }
    }


    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        color: #777777;
        line-height: 1.2;
        text-transform: uppercase;

        padding-left: 9rem;
        margin-bottom: 1.5rem;

        position: relative;

        &::before {
            content: "";
            width: 5.6rem;
            height: 1rem;

            background-image: url(./../images/format/line.svg);
            background-repeat: no-repeat;
            background-position: center;

            position: absolute;
            top: 25%;
            left: 0;

            @media (max-width: 48em) {
                width: 20rem;
            }
        }

        @media (max-width: 48em) {
            font-size: 3rem;
            padding-left: 22rem;
            margin-bottom: 6.5rem;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;

        width: 44.2rem;

        margin-bottom: 4.5rem;

        @media (max-width: 48em) {
            font-size: 6rem;
            padding-left: 5rem;
            width: 57rem;
            margin-bottom: 8.7rem;
        }
    }

    &__text-wrap {
        margin-bottom: 7.5rem;
        padding-left: 9rem;

        @media (max-width: 48em) {
            padding-left: 5rem;
            margin-bottom: 5.5rem;
        }
    }

    &__par-wrap {
        margin-bottom: 7.5rem;

        @media (max-width: 48em) {
           margin-bottom: 0;
        }
    }

    &__par {
        font-size: 1.8rem;
        font-weight: 400;

        width: 46.8rem;

        &:not(:last-child) {
            margin-bottom: 4.7rem;
        }

        @media (max-width: 48em) {
            font-size: 3rem;
            width: 64rem;
            line-height: 1.4;
        }
    }

    &__link {
        margin-left: 0.5rem;

        @media (max-width: 48em) {
           display: none;
        }
    }

    &__link.mob {
       display: none;

        @media (max-width: 48em) {
           display: block;
           margin-left: 6rem;
           margin-bottom: 9rem;
        }
    }

    &__pagination {
        display: none;

        @media (max-width: 48em) {
            display: block;

            font-size: 0;
            bottom: 1rem;
            left: 43%;
            width: 6rem;

            display: flex;
            align-items: center;
        }
    }

    &__pagination .swiper-pagination-current {
        font-size: 4rem;
        margin-right: 1rem;

        @media (max-width: 48em) {
            font-size: 6rem;
        }
    }

    &__pagination .swiper-pagination-total {
        font-size: 1.1rem;

        @media (max-width: 48em) {
            font-size: 2.1rem;
        }
    }
}