.geography {

    position: relative;
    margin-bottom: 14.8rem;

    @media (max-width: 48em) {
        margin-bottom: 24.3rem;
    }


    & .container.none {
        padding: 0;
    }


    &__text-block {
        display: flex;
        justify-content: space-between;

        @media (max-width: 48em) {
            flex-direction: column;
            padding-left: 5rem;
            margin-bottom: 0.5rem;
        }
    }


    &__text-left {
        width: 61rem;

        margin-bottom: 3.2rem;

        @media (max-width: 48em) {
            margin-bottom: 0rem;
        }
    }

    &__subtitle-wrap {
        width: 55.9rem;
        display: flex;
        justify-content: space-between;

        border-top: 1px solid #BBBBBB;
        padding-top: 1.8rem;

        margin-bottom: 3.8rem;

        @media (max-width: 48em) {
            border-top: none;
            width: 65rem;
            padding-top: 0;
            margin-bottom: 5.8rem;
        }

    }

    &__subtitle-text {
        display: flex;
    }

    &__subtitle-img {
        width: 2.4rem;
        margin-right: 1.34rem;

        @media (max-width: 48em) {
            width: 4.7rem;
            height: 4.7rem;
            margin-right: 2.34rem;
        }
    }

    &__subtitle {
        font-size: 1.95rem;
        font-weight: 300;
        line-height: 1.4;
        text-transform: uppercase;

        @media (max-width: 48em) {
            font-size: 3rem;
            padding-top: 1.5rem;
        }

    }

    &__number {
        font-size: 1.95rem;
        font-weight: 600;
        line-height: 1.4;

        @media (max-width: 48em) {
            font-size: 3.9rem;
            padding-top: 1rem;
        }

    }

    &__title {
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.5px;

        @media (max-width: 48em) {
            width: 65rem;

            letter-spacing: 0.4px;
            font-size: 6rem;
            margin-bottom: 5rem;
        }
    }


    &__text-right {
        width: 75rem;
        padding-right: 6rem;

        @media (max-width: 48em) {
            width: 65rem;
        }
    }

    &__location {
        font-size: 1.95rem;
        font-weight: 300;
        line-height: 1.4;

        margin-bottom: 3rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            margin-bottom: 4rem;
            width: 65rem;
        }
    }

    &__location-soon-wrap {
        display: flex;
        align-items: center;
    }

    &__location-soon-img {
        width: 1.3rem;
        margin-right: 1rem;

        @media (max-width: 48em) {
        display: none;
    }
    }

    &__location-soon-text {
        font-size: 1.95rem;
        font-weight: 600;
        line-height: 1.4;

        @media (max-width: 48em) {
            font-size: 3rem;
        }

        & span {
            font-weight: 300;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 48em) {
        flex-direction: column;
        }
    }

    &__map-wrap {
        width: 99.5rem;
        height: 70rem;
        position: relative;

        @media (max-width: 48em) {
            width: 100%;
            height: 100%;  
            margin-bottom: 6.5rem; 
        }
    }

    &__img-map {
        height: 100%;
        object-fit: cover;
        z-index: 1;

        // @media (max-width: 48em) {
        //     display: none;
        // }
    }


    // &__img-map-mob {
    //     display: none;

    //     @media (max-width: 48em) {
    //         display: block;
    //         object-fit: cover;
    //         height: 88rem;
    //     }
    // }

    &__shops {
        padding: 7rem 8rem;

        @media (max-width: 48em) {
            padding: 0 0 0 3rem;
        }
    }

    &__shops-box {
        &:not(:last-child) {
            margin-bottom: 6.5rem;

            @media (max-width: 48em) {
                margin-bottom: 4.5rem;
            }
        }


        @media (max-width: 48em) {
            display: flex;
            align-items: center;
        }
    }

    &__shops-number {
        font-size: 7.2rem;
        font-weight: 500;
        color: #CA342E;

        margin-bottom: 1rem;

        &:nth-child(1) {
            margin-bottom: 0.7rem;
        }

        @media (max-width: 48em) {
            font-size: 6rem;
            width: 7rem;
            margin: 0 2.6rem 0rem 2rem;
        }
    }

    &__shops-type {
        display: flex;
        align-items: center;
    }

    &__shops-type-img {
        width: 2.4rem;
        margin-right: 1rem;

        @media (max-width: 48em) {
            width: 4.8rem;
            margin-right: 2rem;
        }
    }

    &__shops-text {
        font-size: 1.95rem;
        font-weight: 500;
        line-height: 1.4;

        
        @media (max-width: 48em) {
            font-size: 3rem;
         }
    }


    &__img-right-wrap {
        position: absolute;
        top: 0;
        right: 0;

        @media (max-width: 48em) {
        display: none;
    }
    }

    &__img-right {
        width: 21.2rem;
        height: 21.4rem;
    }
}

.point {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    background: rgba(79%, 20%, 18%, 0.1);
    position: relative;
    cursor: pointer;
    
    @media (max-width: 48em) {
        width: 4rem;
        height: 4rem;
    }

& span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    background: #FC281F;
    border: 0.2rem solid #ffffff;
    border-radius: inherit;
    z-index: 1;

    @media (max-width: 48em) {
        width: 1.5rem;
        height: 1.5rem;
    }
}
}

.point:hover {
    background: rgba(146, 146, 146, 0.1);

    & span {
    background: rgba(48, 73, 129, 1);
    }

}

.description {
    width: 27.4rem;
    padding: 1.7rem 2.5rem 2.5rem 2.5rem;
    background: rgba(202, 52, 46, 1);
    color: #ffffff;
    position: relative;
    z-index: 1;

    @media (max-width: 48em) {
        padding: 5rem;
        width: 54.8rem;
        padding: 5rem;
    }

    &::before {
        content: "";
        border-top: 1rem solid rgba(202, 52, 46, 1);
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        bottom: 2.1rem;
        margin-left: -1rem;

        position: absolute;
        left: 50%;
        margin-bottom: -3rem;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__block {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 1rem;

            @media (max-width: 48em) {
               margin-bottom: 2rem;
                }
        }

        &.none {
            display: none;
        }
    }

    &__img-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__location{
        width: 3.6rem;
        height: 3.6rem;
        background-color: rgba(177, 29, 23, 1);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center; 
        flex-shrink: 0;

        margin-right: 1.5rem;

        // &.location--white {
        //     background-color: rgba(224, 224, 224, 1);
        // }

        &.none {
            display: none;
        }

        @media (max-width: 48em) {
        width: 7.2rem;
        height: 7.2rem;
        margin-right: 3rem;
        }
    }

    &__img.key {
        width: 1.7rem;
        height: 1.7rem;
        object-fit: cover;

        @media (max-width: 48em) {
            width: 3.4rem;
            height: 3.4rem;
            }
    }

    &__img {
        width: 1.5rem;
        height: 1.7rem;
        object-fit: cover;

        @media (max-width: 48em) {
            width: 3rem;
            height: 3.4rem;
            }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0.4rem;

        @media (max-width: 48em) {
        font-size: 3.6rem;
        margin-bottom: 0.8rem;
        }
    }

    &__item {
        font-size: 1.4rem;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 0.4rem;

            @media (max-width: 48em) {
                margin-bottom: 0.8rem;
                }
        }

        @media (max-width: 48em) {
            font-size: 2.8rem;
            }
    }

    &__close {
        width: 2.2rem;
        height: 2.2rem;

        position: absolute;
        top: 2rem;
        right: 2rem;

        display: none; 
        @media (max-width: 48em) {
            display: block;
            }
    }

    &__close-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.description.active {
    display: block;
    z-index: 10;
}


.point-wrap {
    position: absolute;
    width: 4rem;
    height: 4rem;
}

.point-wrap-1 {
    bottom: 30%;
    left: 6%;

    &__description-1 {
        display: none;
        right: calc(100% + 8rem);
        bottom:  19rem;

        @media (max-width: 48em) {
            right: calc(100% - 10rem);
            bottom:  17rem;
        }

        &::before {
            @media (max-width: 48em) {
                left: -1rem;
                top: 46%;
                bottom: auto;
                left: -2.5rem;
                border-top: 2rem solid transparent;
                border-left: 2rem solid transparent;
                border-right: 2rem solid rgba(202, 52, 46, 1);
                border-bottom: 2rem solid transparent; 
            }
        }
    }
}


.point-wrap-2 {
    bottom: 20.5%;
    left: 6%;

    &__description-2 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 17rem;

        // background: #ffffff;
        // color: rgba(26, 46, 89, 1);

        // &::before {
        //     content: "";
        //     border-top: 1rem solid #ffffff;
        // }

        @media (max-width: 48em) {
            right: calc(100% - 10rem);
            bottom:  15rem;
        }

        &::before {
            @media (max-width: 48em) {
                left: -1rem;
                top: 46%;
                bottom: auto;
                left: -2.5rem;
                border-top: 2rem solid transparent;
                border-left: 2rem solid transparent;
                border-right: 2rem solid rgba(202, 52, 46, 1);
                border-bottom: 2rem solid transparent; 
            }
        }
    }
}

.point-wrap-3 {
    bottom: 38.7%;
    left: 11.5%;

    &__description-3 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 17rem;


        @media (max-width: 48em) {
            right: calc(100% - 10rem);
            bottom:  15rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                left: -1rem;
                top: 46%;
                bottom: auto;
                left: -2.5rem;
                border-top: 2rem solid transparent;
                border-left: 2rem solid transparent;
                border-right: 2rem solid rgba(202, 52, 46, 1);
                border-bottom: 2rem solid transparent; 
            }
        }
    }
}

.point-wrap-4 {
    bottom: 24%;
    left: 16%;

    &__description-4 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 17rem;

        @media (max-width: 48em) {
            right: calc(100% - 10rem);
            bottom:  15rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                left: -1rem;
                top: 46%;
                bottom: auto;
                left: -2.5rem;
                border-top: 2rem solid transparent;
                border-left: 2rem solid transparent;
                border-right: 2rem solid rgba(202, 52, 46, 1);
                border-bottom: 2rem solid transparent; 
            }
        }
    }
}

.point-wrap-5 {
    bottom: 29.7%;
    left: 23.5%;

    &__description-5 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 17rem;

        @media (max-width: 48em) {
            right: calc(100% + 8rem);
            bottom: 30rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                border-top: 2rem solid rgba(202, 52, 46, 1);
                border-left: 2rem solid transparent;
                border-right: 2rem solid transparent;
                bottom: 1.5rem;
                margin-left: -15.5rem;
            }
        }
    }
}

.point-wrap-6 {

    bottom: 49.7%;
    left: 26.6%;

    &__description-6 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 32rem;

        @media (max-width: 48em) {
            right: calc(100% + 8rem);
            bottom: 59rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                border-top: 2rem solid rgba(202, 52, 46, 1);
                border-left: 2rem solid transparent;
                border-right: 2rem solid transparent;
                bottom: 1.5rem;
                margin-left: -15.5rem;
            }
        }
    }
}

.point-wrap-7 {
    bottom: 36%;
    left: 33.3%;

    &__description-7 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 15rem;

        @media (max-width: 48em) {
            right: calc(100% + 15rem);
            bottom: 27rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                border-top: 2rem solid rgba(202, 52, 46, 1);
                border-left: 2rem solid transparent;
                border-right: 2rem solid transparent;
                bottom: 1.5rem;
                margin-left: -8.5rem;
            }
        }
    }
}


.point-wrap-8 {
    bottom: 39%;
    left: 40.2%;

    &__description-8 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 15rem;

        @media (max-width: 48em) {
            right: calc(100% + 15rem);
            bottom: 27rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                border-top: 2rem solid rgba(202, 52, 46, 1);
                border-left: 2rem solid transparent;
                border-right: 2rem solid transparent;
                bottom: 1.5rem;
                margin-left: -8.5rem;
            }
        }
    }
}

.point-wrap-9 {
    bottom: 17.5%;
    left: 39%;

    &__description-9 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 15rem;

        @media (max-width: 48em) {
            right: calc(100% + 15rem);
            bottom: 27rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                border-top: 2rem solid rgba(202, 52, 46, 1);
                border-left: 2rem solid transparent;
                border-right: 2rem solid transparent;
                bottom: 1.5rem;
                margin-left: -8.5rem;
            }
        }
    }
}

.point-wrap-10 {
    bottom: 24%;
    left: 47.2%;

    &__description-10 {
        display: none;
        right: calc(100% + 8rem);
        bottom: 15rem;

        @media (max-width: 48em) {
            right: calc(100% + 23rem);
            bottom: 27rem;
        }
    
        &::before {
            @media (max-width: 48em) {
                border-top: 2rem solid rgba(202, 52, 46, 1);
                border-left: 2rem solid transparent;
                border-right: 2rem solid transparent;
                bottom: 1.5rem;
                margin-left: -0.5rem;
            }
        }
    }
}

