.geography {

    position: relative;
    margin-bottom: 14.8rem;

    @media (max-width: 48em) {
        margin-bottom: 24.3rem;
    }


    & .container.none {
        padding: 0;
    }


    &__text-block {
        display: flex;
        justify-content: space-between;

        @media (max-width: 48em) {
            flex-direction: column;
            padding-left: 5rem;
            margin-bottom: 0.5rem;
        }

    }

    &__text-left {
        width: 61rem;

        margin-bottom: 3.2rem;

        @media (max-width: 48em) {
            margin-bottom: 0rem;
        }
    }

    &__subtitle-wrap {
        width: 55.9rem;
        display: flex;
        justify-content: space-between;

        border-top: 1px solid #BBBBBB;
        padding-top: 1.8rem;

        margin-bottom: 3.8rem;

        @media (max-width: 48em) {
            border-top: none;
            width: 65rem;
            padding-top: 0;
            margin-bottom: 5.8rem;
        }

    }

    &__subtitle-text {
        display: flex;
    }

    &__subtitle-img {
        width: 2.4rem;
        margin-right: 1.34rem;

        @media (max-width: 48em) {
            width: 4.7rem;
            height: 4.7rem;
            margin-right: 2.34rem;
        }
    }

    &__subtitle {
        font-size: 1.95rem;
        font-weight: 300;
        line-height: 1.4;
        text-transform: uppercase;

        @media (max-width: 48em) {
            font-size: 3rem;
            padding-top: 1.5rem;
        }

    }

    &__number {
        font-size: 1.95rem;
        font-weight: 600;
        line-height: 1.4;

        @media (max-width: 48em) {
            font-size: 3.9rem;
            padding-top: 1rem;
        }

    }

    &__title {
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.5px;

        @media (max-width: 48em) {
            width: 65rem;

            letter-spacing: 0.4px;
            font-size: 6rem;
            margin-bottom: 5rem;
        }
    }


    &__text-right {
        width: 75rem;
        padding-right: 6rem;

        @media (max-width: 48em) {
            width: 65rem;
        }
    }

    &__location {
        font-size: 1.95rem;
        font-weight: 300;
        line-height: 1.4;

        margin-bottom: 3rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            margin-bottom: 4rem;
            width: 65rem;
        }
    }

    &__location-soon-wrap {
        display: flex;
        align-items: center;
    }

    &__location-soon-img {
        width: 1.3rem;
        margin-right: 1rem;

        @media (max-width: 48em) {
           display: none;
        }
    }

    &__location-soon-text {
        font-size: 1.95rem;
        font-weight: 600;
        line-height: 1.4;

        @media (max-width: 48em) {
            font-size: 3rem;
        }

        & span {
            font-weight: 300;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 48em) {
           flex-direction: column;
         }
    }

    &__map-wrap {
        width: 99.5rem;
        height: 70rem;

        @media (max-width: 48em) {
            width: 100%;
            height: 100%;  
            margin-bottom: 6.5rem; 
        }
    }

    &__img-map {
        height: 100%;
        object-fit: cover;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__img-map-mob {
        display: none;

        @media (max-width: 48em) {
            display: block;
            object-fit: cover;
            height: 88rem;
        }
    }

    &__shops {
        padding: 7rem 8rem;

        @media (max-width: 48em) {
            padding: 0 0 0 3rem;
         }
    }

    &__shops-box {
        &:not(:last-child) {
            margin-bottom: 6.5rem;

            @media (max-width: 48em) {
                margin-bottom: 4.5rem;
            }
        }


        @media (max-width: 48em) {
            display: flex;
            align-items: center;
        }
    }

    &__shops-number {
        font-size: 7.2rem;
        font-weight: 500;
        color: #CA342E;

        margin-bottom: 1rem;

        &:nth-child(1) {
            margin-bottom: 0.7rem;
        }

        @media (max-width: 48em) {
            font-size: 6rem;
            width: 7rem;
            margin: 0 2.6rem 0rem 2rem;
        }
    }

    &__shops-type {
        display: flex;
        align-items: center;
    }

    &__shops-type-img {
        width: 2.4rem;
        margin-right: 1rem;

        @media (max-width: 48em) {
            width: 4.8rem;
            margin-right: 2rem;
        }
    }

    &__shops-text {
        font-size: 1.95rem;
        font-weight: 500;
        line-height: 1.4;

        
        @media (max-width: 48em) {
            font-size: 3rem;
         }
    }


    &__img-right-wrap {
        position: absolute;
        top: 0;
        right: 0;

        @media (max-width: 48em) {
        display: none;
    }
    }

    &__img-right {
        width: 21.2rem;
        height: 21.4rem;
    }
}


.point {
    cursor: pointer;
    width: 3.4rem;
    height: 3.4rem;

    &__item-big:hover{
        fill: #929292;

    }

    &__item-small:hover {
        fill: #304981;
    }
}


.description {
    width: 24.7rem;
    padding: 1.7rem 2.5rem 2.5rem 2.5rem;
    background: #B11D17;

    position: absolute;
}