.header {

    position: relative;

    &__inner {
        padding-top: 2.2rem;

        position: absolute;

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150rem;

        @media (max-width: 48em) {
            width: 65rem;
        }
    }

    &__logo-img {
        width: 7.9rem;
        height: 7.56rem;

        @media (max-width: 48em) {
            width: 9.6rem;
            height: 9.2rem;
            object-fit: contain;
        }
    }


    &__btn {
        display: none;
        @media (max-width: 48em) {
            display: block;
            transform: translateY(-1rem);

            position: absolute;
            right: 0;
        }
    }


    &__burger {
        @media (max-width: 48em) {
        display: flex;
        width: 6rem;
        height: 0.4rem;
        background-color: #191C20;

        position: relative;

        &::after {
            content: "";
            width: 4rem;
            height: 0.4rem;
            background-color: #191C20;

            position: absolute;
            z-index: 9999;
            bottom: -1rem;
            left: 0;
        }
    } 
    }


    &__nav {
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__nav .active {
        display: block;
    }

    &__nav-list {
        display: flex;
        margin-right: 8.7rem;

    }

    &__nav-item {
        font-size: 1.6rem;
        font-weight: 500;

        &:not(:last-child) {
            margin-right: 4.5rem;
        }
    }


}