.plan {

    margin-bottom: 16rem;


    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        margin-bottom: 6rem;
    }

    &__slider {
        height: 90rem;
        position: relative;

        @media (max-width: 48em) {
            height: 130rem;
        }
    }

    &__slider-wrapper {
        height: 80rem; 

        @media (max-width: 48em) {
            height: 120rem;
        }
    }

    &__slide {
        @media (max-width: 48em) {
            &.swiper-slide-next .plan__text {
                color: transparent;
            }
        }
    }

    

    &__pagination {
        font-size: 0;
        bottom: 2.5rem;
        left: 50%;
        transform: translate(-50%, 10%);
        width: 6rem;

        display: flex;
        align-items: center;
    }

    &__pagination .swiper-pagination-current {
        font-size: 4rem;
        margin-right: 1rem;
    }

    &__pagination .swiper-pagination-total {
        font-size: 1.1rem;
    }

    &__arrow-next {
            right: 41.5%;
            top: auto;
            bottom: 0;
            width: 8rem;
            height: 8rem;
            fill: #CA342E;
            transition: 0.8s;

            &.swiper-button-disabled {
                fill: black;
                opacity: 1;
                transition: 0.8s;
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                width: 4.4rem;
            }
    }

    &__arrow-prev {
            left: 42%;
            top: auto;
            bottom: 0;
            right: auto;
            width: 8rem;
            height: 8rem;
            fill: #CA342E;
            transition: 0.8s;

            &.swiper-button-disabled {
                fill: black;
                opacity: 1;
                transition: 0.8s;
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                width: 4.4rem;
            }
    }


    &__stage-wrap {
        display: flex;
        align-items: flex-end;

        width: 38rem;

        padding-bottom: 4.2rem;
        border-bottom: 1px dashed #BBBBBB;

        margin-bottom: 4.2rem;

        position: relative;

        &::after {
            content: "";
            width: 0.865rem;
            height: 0.865rem;
            background-color: #FC281F;
            border-radius: 50%;

            position: absolute;
            bottom: -5%;
            left: 0%;
        }

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__stage-num {
        font-size: 4.0rem;
        font-weight: 500;

        margin-right: 1.2rem;
    }

    &__stage {
        font-size: 2.0rem;
        font-weight: 500;
        padding-bottom: 0.5rem;
    }

    &__text {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;

        width: 34.7rem;
        height: 14.7rem;
    }

    &__photo {
        width: 34.5rem;
        height: 51.17rem;

        @media (max-width: 48em) {
            width: 52rem;
            height: 88.2rem;
        }
    }
}


