.popup {
    position: fixed;
    z-index: 999999;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.4);
    top: 0;
    left: 0;

    overflow-y: scroll;

    display: none;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 6rem;
    }

    &__content {
        background-color: #ffffff;
        max-width: 166.4rem;
        max-height: 94.3rem;

        position: relative;
    }

    &__close {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
    }

    &__close-img {
        width: 2.2rem;
        height: 2.2rem;
    }



    &__content-wrap {
        display: flex;
    }

    &__content-wrap-left {
        display: flex;
        flex-direction: column;

        padding: 5.25rem 13.0rem 10rem 8.2rem;

    }

    &__logo {
        width: 7.9rem;
        height: 7.56rem;

        margin-bottom: 5.44rem;
    }

    &__logo-img {
        height: 100%;
        object-fit: cover;
    }

    &__form {
        display: flex;
        flex-direction: column;

    }

    &__title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;

        margin-bottom: 5.1rem;
    }

    &__input-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 4.7rem;
    }

    &__input {
        font-size: 2.5rem;
        font-weight: 400;

        height: 5rem;
        max-width: 62.2rem;

        border: none;
        border-bottom: 1px solid #bbbbbb;

        &::placeholder {
                font-size: 1.8rem;
                font-weight: 400;
                color: #bbbbbb;
        }

        &:last-child {
            height: 11rem;

            &::placeholder {
                padding-top: 2rem;
            }
        }
    }


    &__select-title {
        font-size: 1.8rem;
        font-weight: 400;

        margin-bottom: 2.7rem;
    }

    &__select {
        display: flex;

        margin-bottom: 4rem;
    }

    &__select-item {
        display: flex;
        align-items: center;


        &:not(:last-child) {
            margin-right: 9.4rem;
        }
    }

    &__select-input {
        margin-right: 1rem;
    }

    &__link {
        margin-left: 13rem;
    }

    &__content-wrap-right {
        width: 82.8rem;
        height: 94.3rem;
    }

    &__img {
        height: 100%;
        object-fit: cover;
    }
}


.no-scroll {
    overflow-y: hidden;
}
