.report {

    margin-bottom: 18rem;

    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2;
        color: #777777;

        margin-bottom: 1.7rem;
    }

    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 7rem;

        @media (max-width: 48em) {
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        width: 82.1rem;

        @media (max-width: 48em) {
        width: 65rem;
        margin-bottom: 9.4rem;
        }
    }
&__table {
    // display: flex;
    // justify-content: center;
    display: table;
    border-collapse: collapse;

    @media (max-width: 48em) {
        overflow-x: scroll;
        justify-content: flex-start;
        table-layout: fixed;
    }
}

    &__table-header {

        height: 4.6rem;
        background-color: #CA342E;

        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.4;
        color: #ffffff;

        @media (max-width: 48em) {
            font-size: 3rem;
        }
    }

    &__table-value {
        height: 4.5rem;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4;
        color: #3B3B3B;

        &:nth-child(2n){
            background-color: #ffffff;
        }
        
        @media (max-width: 48em) {
            font-size: 3rem;
            width: 120rem;
        }
    }

    &__header-item {

        padding-left: 2rem;

        text-align: start;
        &:not(:first-child) {
            width: 22.7rem;

            @media (max-width: 48em) {
         
                width: 37rem;
            }
        }

        &:first-child {
            width: 60.1rem;

            @media (max-width: 48em) {
         
                width: 30rem;
            }
        }

        &:last-child {
            text-align: center;
        }
    }

    &__table-row {
        padding-left: 2rem;
    }
}