.report {

    margin-bottom: 18.826rem;

    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2;
        color: #777777;

        margin-bottom: 1.7rem;
    }

    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 7rem;
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        width: 82.1rem;
    }
&__table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

    &__table-header {

        height: 4.6rem;
        background-color: #CA342E;

        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.4;
        color: #ffffff;
    }

    &__table-value {
        height: 4.626rem;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4;
        color: #3B3B3B;

        &:nth-child(2n){
            background-color: #ffffff;
        }
        
    }
   

    &__header-item {

        padding-left: 2rem;

        text-align: start;
        &:not(:first-child) {
            width: 22.7rem;
        }

        &:first-child {
            width: 60.1rem;
        }

        &:last-child {
            text-align: center;
        }
    }

    &__table-row {
        padding-left: 2rem;
    }
}