.step {

    margin-bottom: 16.5rem;

    @media (max-width: 48em) {
        padding-left: 2rem;
        margin-bottom: 24.5rem;
    }

    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 8.38rem;

        @media (max-width: 48em) {
            flex-direction: column;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;

        @media (max-width: 48em) {
            font-size: 6rem;
            letter-spacing: -0.3px;
            margin-bottom: 10.7rem;
        }
    }

    
    &__slider {
        height: 70rem;
        position: relative;

        @media (max-width: 48em) {
        height: 120rem;
        }
    }

    &__slider-wrapper {
        height: 60rem;

        @media (max-width: 48em) {
            height: 100%;
            }
    }

    &__pagination {
        font-size: 0;
        bottom: 2.5rem;
            left: 50%;
            transform: translate(-50%, 20%);

            @media (max-width: 48em) {
                bottom: 0;
                transform: translate(-52%, 0%);

                display: flex;
    align-items: center;
    justify-content: center;
                }
    } 

    &__pagination .swiper-pagination-current {
        font-size: 4rem;
        margin-right: 1rem;

        @media (max-width: 48em) {
            font-size: 6rem;
            }
    }

    &__pagination .swiper-pagination-total {
        font-size: 1.8rem;

        @media (max-width: 48em) {
            font-size: 2.5rem;
            }
    }

    &__arrow-next {
        &.swiper-button-next {
            right: 42%;
            top: auto;
            bottom: 0;
            width: 7rem;
            height: 7rem;
            fill: #CA342E;

            &.swiper-button-disabled {
                fill: black;
                opacity: 1;
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                right: 20%;
                }
        }
    }

    &__arrow-prev {
        &.swiper-button-prev {
            left: 42%;
            top: auto;
            bottom: 0;
            right: -9.5rem;
            width: 7rem;
            height: 7rem;
            fill: #CA342E;

            &.swiper-button-disabled {
                fill: black;
                opacity: 1;
            }

            &::after {
                content: '';
            }

            @media (max-width: 48em) {
                left: 18%;
                }
        }
    }

    &__slide-box {
        height: 60.4rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        
        @media (max-width: 48em) {
            height: 100%;
            }
    }

    &__box-wrap {
        padding-left: 2rem;
    }

    &__wrap {
        padding: 6.8rem 5.5rem 1.5rem 2.8rem;
    }
    
    &__box-num {
        font-size: 7rem;
        font-weight: 500;
        color: #bbbbbb;

        padding: 3.5rem 0.5rem 3.5rem 0rem;

        margin-bottom: 2.6rem;

        position: relative;

        &::after {
            content: "";
            width: 5.4rem;
            height: 2rem;
            background-image: url(./../images/step-line.svg);
            background-repeat: no-repeat;
            background-position: center;

            position: absolute;
            left: 0;
            bottom: 0;

            @media (max-width: 48em) {
                width: 10.8rem;
                left: 2.5rem;
            }
        }

        @media (max-width: 48em) {
            flex-direction: column;
            font-size: 14rem;
            padding: 5rem 0.5rem 7rem 2rem;
            margin-bottom: 5.6rem;
        }
    }
    &__box-text {
        font-size: 2rem;
        font-weight: 400;
        width: 29rem;

        @media (max-width: 48em) {
            font-size: 3rem;
            width: 100%;
            padding-left: 2.5rem;
            padding-bottom: 1.5rem;
            line-height: 1.4;
            height: 24.5rem;
        }
    }
    &__box-img {
        width: 34.5rem;
        height: 25.5rem;

        @media (max-width: 48em) {
           width: 52rem;
           height: 50.6rem;
        }
    }
}
 