.support {

    margin-bottom: 19.8rem;

    @media (max-width: 48em) {
        padding-left: 2rem;
        margin-bottom: 17rem;
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        margin-bottom: 5.5rem;

        @media (max-width: 48em) {
            font-size: 6rem;
        }
    }

    &__content {
        width: 157.1rem;
        height: 83.7rem;

        display: flex;
        flex-wrap: wrap;


        @media (max-width: 48em) {
            width: 65rem;
            height: 100%;
        }
    }

    &__img {
        object-fit: cover;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__num {
        font-size: 6.0rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 3rem;
        color: #BBBBBB;

        width: 38.3rem;

        @media (max-width: 48em) {
            width: 16rem;
        }
    }

    &__num.desc {
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__num.mob {
        display: none;

        @media (max-width: 48em) {
            display: block;
        }
    }


    &__num-top-wrap {
        display: flex;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__box {
        width: 38rem;
        padding: 0.5rem;
        border-top: 1px dashed #bbbbbb;
        position: relative;

        &:nth-child(5) {
            border-right: 1px dashed #bbbbbb;

            @media (max-width: 48em) {
                border-right: none;
            }
        }

        &::before {
            content: "";
            width: 0.9rem;
            height: 0.9rem;
            background-color: #FC281F;
            border-radius: 50%;

            position: absolute;
            top: -1%;
            left: 0%;
        }


        @media (max-width: 48em) {
            width: 62.2rem;
            height: 49rem;
            border-top: none;

            display: flex;
            flex-direction: column;

            &:nth-child(2n+1) {
                align-items: flex-end;
                border-right: 1px dashed #bbbbbb;
                padding-right: 2rem;
            }

            &:nth-child(2n) {
                border-left: 1px dashed #bbbbbb;
                padding-left: 2rem;
            }

            &:not(:last-child) {
                border-bottom: 1px dashed #bbbbbb;
            }
        }
    }


    &__box-img-wrap {
        width: 8rem;
        height: 8rem;
        display: flex;

        margin-bottom: 3rem;
        margin-top: 3.2rem;

        @media (max-width: 48em) {
            width: 12rem;
            height: 12rem;
        }
    }

    &__box-img {
        object-fit: contain;
    }

    &__box-title {
        font-size: 1.95rem;
        font-weight: 400;
        line-height: 1.4;

        margin-bottom: 1.7rem;


        @media (max-width: 48em) {
            font-size: 3.4rem;
        }
    }

    &__box-subtitle {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.4;

        height: 13.3rem;
        padding-bottom: 1.5rem;


        @media (max-width: 48em) {
            font-size: 3rem;
        }
    }

    &__box-subtitle.left {
        @media (max-width: 48em) {
         text-align: right;
         width: 55rem;
        }
    }
}


.support__box {
    @media (max-width: 48em) {
    
        &:nth-child(2n) {
            &::before {
                content: "";
                width: 1.5rem;
                height: 1.5rem;
                background-color: #FC281F;
                border-radius: 50%;
    
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateX(-50%);
            }
        }

        &:nth-child(2n+1) {
            &::before {
                content: "";
                width: 1.5rem;
                height: 1.5rem;
                background-color: #FC281F;
                border-radius: 50%;
    
                position: absolute;
                top: 50%;
                right: 0;
                left: auto;
                transform: translateX(50%);
            }
        }
} 
}


.support__num {
    @media (max-width: 48em) {
        font-size: 12rem;

        position: absolute;
        right: 0;

        &.left {
            right: auto;
            left: 0;
        }
    }

}