.support {

    margin-bottom: 19.8rem;

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.2;

        margin-bottom: 5.5rem;
    }

    &__content {
        width: 157.1rem;
        height: 83.7rem;

        display: flex;
        flex-wrap: wrap;


        @media (max-width: 48em) {
            width: 65rem;
        }
    }

    &__img {
        object-fit: cover;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__num {
        font-size: 6.0rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 3rem;

        width: 38.3rem;

        @media (max-width: 48em) {
            width: 16rem;
        }
    }

    &__num-top-wrap {
        display: flex;
    }

    &__box {
        width: 38rem;
        padding: 0.5rem;
        border-top: 1px dashed #bbbbbb;
        position: relative;



        &:nth-child(5) {
            border-right: 1px dashed #bbbbbb;
        }

        &::before {
            content: "";
            width: 0.9rem;
            height: 0.9rem;
            background-color: #FC281F;
            border-radius: 50%;

            position: absolute;
            top: -1%;
            left: 0%;
        }
    }


    &__box-inner {
        width: 35rem;
    }


    &__box-img-wrap {
        width: 8rem;
        height: 8rem;
        display: flex;

        margin-bottom: 3rem;
        margin-top: 3.2rem;
    }

    &__box-img {
        object-fit: contain;
    }

    &__box-title {
        font-size: 1.95rem;
        font-weight: 400;
        line-height: 1.4;

        margin-bottom: 1.7rem;
    }

    &__box-subtitle {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.4;

        height: 13.3rem;
        padding-bottom: 1.5rem;
    }
}